@import "tailwindcss";

@plugin "flyonui" {
    themes: light --default, mydark --prefersdark;
}

@import "flyonui/variants.css";
@source "../node_modules/flyonui/flyonui.js";
@plugin "@iconify/tailwind4";

/* Import Third-party override css */
/* @import "flyonui/src/vendor/flatpickr.css"; */
/* @import "flyonui/src/vendor/notyf.css"; */
/* @import "flyonui/src/vendor/datatables.css"; */
/* @import "flyonui/src/vendor/editor.css"; */
/* @import "flyonui/src/vendor/fullcalendar.css"; */
/* @import "flyonui/src/vendor/raty.css"; */
/* @import "flyonui/src/vendor/waves.css"; */
/* @import "flyonui/src/vendor/apexcharts.css"; */

@plugin "flyonui/theme" {
    name: "mydark";
    default: false;
    prefersdark: true;
    color-scheme: dark;
    --color-base-100: oklch(0.3092 0 0);
    --color-base-200: oklch(0.2435 0 0);
    --color-base-300: oklch(0.2178 0 0);
    --color-base-content: oklch(96% 0.001 286.375);
    --color-primary: oklch(0.71 0.15 239.15);
    --color-primary-content: oklch(0.94 0.03 232.39);
    --color-secondary: oklch(88% 0.059 254.128);
    --color-secondary-content: oklch(0 0 0);
    --color-accent: oklch(0.5636 0.0173 273.66);
    --color-accent-content: oklch(86% 0.022 252.894);
    --color-neutral: oklch(86% 0.022 252.894);
    --color-neutral-content: oklch(14% 0 0);
    --color-info: oklch(0.6 0.1 269.83);
    --color-info-content: oklch(0.9 0.01 238.47);
    --color-success: oklch(0.7 0.15 159.83);
    --color-success-content: oklch(0.9 0.01 238.47);
    --color-warning: oklch(0.8 0.1 100.65);
    --color-warning-content: oklch(0 0 0);
    --color-error: oklch(0.64 0.25 19.69);
    --color-error-content: oklch(0.9 0.01 238.47);
    --radius-selector: 0rem;
    --radius-field: 0rem;
    --radius-box: 0rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}
